// COLORS
$main-color: #6fecc2;
$addition-color: #cfef84;
$secondary-color: #efd184;

//IMPORTS
@import 'mixin';

// RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

// GLOBAL
body {
  background-image: url(../imgs/bg_image.png);
}
.wrapper {
  @include flex(column, center, center);
}
