// IMPORTS
@import 'mixin';

// MAIN
.group__name,
.wrapper__groups,
.wrapper__map {
  @include flex(column, center, center);
}

.map__heading {
  color: $secondary-color;
  font-size: 2rem;
  padding-bottom: 30px;
}

.map__item {
  opacity: 0.9;
}

.group__name {
  font-size: 1.8rem;
  color: $secondary-color;
}

.wrapper__headliners {
  @include flex(row, center, center);
}

.group__item {
  padding: 0 7%;
}

.youtube {
  width: 350px;
  height: 250px;
}
